<div class="main">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="row">
        Create a new account
      </div>
      <div class="row">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="First">
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Last">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Email">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div class="ui-g-12">
            <p-radioButton name="group1" value="Male" label="Option 1" [(ngModel)]="gender" inputId="opt1"></p-radioButton>
            <p-radioButton name="group1" value="Female" label="Option 2" [(ngModel)]="gender" inputId="opt2"></p-radioButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>