<div class="row main-header">
  <div class="ui-g-12 col-md-6 ui-lg-6">
    <div class="header customlabel">Zeitleiste</div>
  </div>
  <div class="ui-g-12 col-md-6 ui-lg-6 rightDiv">
    <div class="row">
      <div class="ui-g-4 col-md-4 ui-lg-4 ui-g-offset-1">
        <span class="ui-float-label">
          <input id="float-input1" type="text" size="30" pInputText>
          <label for="float-input1">Username</label>
        </span>
      </div>
      <div class="ui-g-4 col-md-4 ui-lg-4">
        <span class="ui-float-label">
          <input id="float-input2" type="password" size="30" pInputText>
          <label for="float-input2">Password</label>
        </span>
      </div>
      <div class="ui-g-2 col-md-2 ui-lg-2">
        <button class="loginButton">Login</button>
      </div>
    </div>
  </div>
</div>