<div class="row main-header">
  <div class="heading col-md-6 col-sm-6">
    <div class="row header"> Zeitleiste</div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="row loginDiv">
      <span class="ui-float-label col-md-4 col-sm-4 col-xs-4">
        <input id="float-input1" type="text" size="30" pInputText>
        <label for="float-input1">Username</label>
      </span>
      <span class="ui-float-label col-md-4 col-sm-4 col-xs-4">
        <input id="float-input2" type="password" size="30" pInputText>
        <label for="float-input2">Password</label>
      </span>
      <button class="loginButton">Login</button>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4"></div>
      <div class="col-md-4 col-sm-4 col-xs-4 forgotPass">
        <a>Forgot Password?</a></div>
    </div>
  </div>
</div>