{{localDataService.idleStageImage}}<router-outlet></router-outlet>
<!-- dialog box gettingidle-->
<div class="popup_window_css mainBox" id="popup_window" *ngIf="localDataService.idleStage">
    <table class="popup_window_css">
        <tbody>
            <tr class="popup_window_css">
                <td class="popup_window_css">
                    <div class="popup_window_css_head"><img (click)="localDataService.idleStage=!localDataService.idleStage"
                            src="http://www.demo.php-development.ru/popup-window/images/close.gif" alt="" width="9"
                            height="9">Alert</div>
                    <div class="popup_window_css_body">
                        <div style="border: 1px solid #808080; padding: 6px; background: #FFFFFF;font-size: 13px;">
                            This page will expire unless a response is received within 5seconds.<br>
                            Click <strong>OK</strong> or drag your mouse to prevent expiration.<br>
                            <strong>You will time out in {{localDataService.sessionTimeCount}} seconds!</strong>
                            <div style="text-align: center;" *ngIf="localDataService.idleStageImage">
                                <img src="https://img.icons8.com/color/48/000000/no-entry.png" alt="" width="50" height="50">
                            </div>
                        </div>
                    </div>
                    <div class="popup_window_css_foot">
                        <button class="customOK" (click)="localDataService.idleStage=!localDataService.idleStage">Ok</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- dialog box Timedout -->
<div class="popup_window_css mainBox" id="popup_window" *ngIf="localDataService.sessionTimedout">
    <table class="popup_window_css">
        <tbody>
            <tr class="popup_window_css">
                <td class="popup_window_css">
                    <div class="popup_window_css_head"><img (click)="localDataService.sessionTimedout=!localDataService.sessionTimedout"
                            src="http://www.demo.php-development.ru/popup-window/images/close.gif" alt="" width="9"
                            height="9">Alert</div>
                    <div class="popup_window_css_body">
                        <div style="border: 1px solid #808080; padding: 6px; background: #FFFFFF;font-size: 13px;">
                            You're being timed out due to inactivity.<br>
                            You are logged off successfully .Please login again to continue.<br>
                            Click <strong>OK</strong> to continue.<br>
                            <div style="text-align: center;">
                                <img src="https://img.icons8.com/color/48/000000/expired.png" alt="" width="50" height="50">
                            </div>
                        </div>
                    </div>
                    <div class="popup_window_css_foot">
                        <button class="customOK" (click)="localDataService.sessionTimedout=!localDataService.sessionTimedout">Ok</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>