<div>
    <div class="row post_header">
        <p class="create_post">Create Post</p>
    </div>
    <div class="post_bottom" style="margin:0;">
        <div class="row" style="margin:0;width:100%;">
            <div class="col-md-1 ui-g-1 ui-lg-1">
                <img src="http://placehold.it/50x50" style="border-radius:10px">
            </div>
            <div class="col-md-10 ui-g-10 ui-lg-10 ui-md-offset-1 ui-g-offset-1 ui-lg-offset-1" style="margin-left: 20px;">
                <textarea rows="2" pInputTextarea autoResize="autoResize" placeholder="Your Post goes here...." style="width:100%;border:0;"></textarea>
            </div>
        </div>
        <hr>
        <div class="row">
        <!-- button goes here -->
        </div>
    </div>
</div>