<div style="background-image: linear-gradient(#2c3e50, #bdc3c7 );
width: 100vw;
height: 100vh;">
    <div class="row" style="    width: 60%;
    height: 450px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 10px 12px 6px -6px #777;">
        <div class="col-md-5 ui-g-12 ui-lg-12" style="padding: 0;
        background-image: linear-gradient(#7b4397 , #516395);
        border: 0;">Photo</div>
        <div class="col-md-7 ui-g-12 ui-lg-12" style="padding: 0;
        background-image: linear-gradient(#ddd6f3 , #faaca8);">

{{avatarService.data|json}}
        </div>

    </div>
</div>